<style media="screen">
  img {
      max-width: 200px;
      max-height: 200px;
  }
</style>


<p id="notice"><%= notice %></p>
<h4>
  <%= @article.title %>
</h4>
<p>
  <%=  image_tag(@article.image_url, :style => 'float:right; padding: 5px')%>
  <%= @article.body %>
</p>

<% if user_signed_in? %>
  <div class="btn btn-light" style="float: right">
    <%= link_to 'Back', articles_path %>
  </div>
  <div class="btn btn-light" style="float: right; margin-right: 10px">
    <%= link_to 'Edit', edit_article_path(@article) %>
  </div>
<% end %>
